* {
	text-align: center;
	font: Helvetica;
}

h1 {
	font-size: 70px;
	color: white;
}

h1, h2, h3 {
	font-weight: bold;
}

.header {
	background-image: url("../images/the-flatiron-building.png");
}

nav a {
	margin-left: -40px;
	color: white;
}

nav li {
	font-size: 18px;
	list-style: none;
	color: white;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 14px;
}

.page-break {
	color: white;
	background-image: url("../images/the-flatiron-building.png");
}

.footer {
	text-align: left;
	background-color: dimgray;
}

.footer ul {
	padding: 0 0;
}

.footer li a {
	display: inline;
}

#copyright {
	font-size: 11px;
}